.header{
  background-color: papayawhip;
  height: 138px;
  width: 100%;
  display: flex;
}
.header .left {
  width: 224px;
  height: 138px;
  background-color: lavender;
  /*margin: 0 10px;*/
}
.header .mid {
  flex: 1;
  /*background-color: lavenderblush;*/
}
.header .right{
  width: 224px;
  height: 138px;
  background-color: lavender;
  /*margin: 0 10px;*/
}
.mid h1{
  text-align: center;
  font-style: initial;
  line-height: 138px;
  font-size: 28px;
  letter-spacing: 2px;
}

.btnall{
  float: right;
  width: 200px;
  height: 100px;
}
button{
  float: right;
  width: 80px;
  height: 35px;
  border: 2px solid #eae2c9;
  /*position: absolute;*/
  background-color: #eae2c9;
  border-radius: 5px;
  cursor:pointer;
  margin-right: 10px;
}
#btn{
  float: right;
  margin-right: 10px;
  width: 50px;
  height: 35px;
  border: 2px solid #eae2c9;
  /*position: absolute;*/
  background-color: #eae2c9;
  border-radius: 5px;
  cursor:pointer;
}
