*{
  margin: 0;
  padding: 0;
}
body{
  background-color: papayawhip;
}
.header{
  /*background-color: papayawhip;*/
  height: 150px;
}
.title h1{
  text-align: center;
  font-style: initial;
  line-height: 100px;
  font-size: 35px;
  letter-spacing: 2px;
}
.titleButton{
  width: 100px;
  height: 50px;
  margin: 0 auto;
}
button{
  width: 100px;
  height: 35px;
  border: 2px solid #eae2c9;
  position: absolute;
  background-color: #eae2c9;
  border-radius: 5px;
}
.movie{
  height: 210px;
  /*background-color: aliceblue;*/
}
.mov{
  width: 300px;
  height: 200px;
  margin: 30px auto;
}
h3{
  color: saddlebrown;
}
.info{
  height: 200px;
  width: 1200px;
  /*background-color: aquamarine;*/
  margin: 30px auto;
}
.info table{
  margin-left: 15px;
}
table tr td{
  padding:15px 20px;
}
table tr td span{
  font-weight: bold;
}
.works {
  height: 300px;
  width: 1200px;
  /*background-color: darkkhaki;*/
  margin: 30px auto;
}
.works ul{
  list-style: none;
}
.works ul li{
  float:left;
  margin-right: 25px;
  margin-top: 15px;
}
.works ul li p{
  color: #999;
  font-size: 14px;
  font-weight: normal;
  font-style: oblique;
}
.user{
  height: 300px;
  /*background-color: darkgrey;*/
  margin: 30px 15px;
}
.tabsbox{
  height: 400px;
  width: 900px;
  margin: 0 auto;
  border: 1px solid lightsalmon;
  position: relative;
}
nav ul{
  overflow: hidden;
}
nav ul li{
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid #ccc;
  position: relative;
}
nav ul li.liactive {
  border-bottom: 2px solid #fff;
  z-index: 9;
}

.firstnav{
  height: 50px;
  width: 800px;
}
.firstnav ul{
  list-style: none;
}
.firstnav span{
  float: left;
  height: 50px;
  width: 100px;
}

.tabscon{
  height: 150px;
  width: 800px;
}
